* {
	font-family: 'Arial' , Helvetica , sans-serif;
	color: white;
}
p {
	margin: 0 0 10px;
    font-size: 14px;
  	line-height: 22px;
    color: #024035;
}
.section1 {
	max-width: 100%;
	max-height: 115px;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.img1 {
	opacity: .475;
	padding-bottom: 5px;
}
.img2 {
	padding-top: 7px;
	width: 75px;
	height: 75px;
}
.section3 {
	background: #06c8a5;
	max-width: 100%;
	padding: 25px 15px 25px 15px;
}
.section2,
.section4 {
	background: #fec00d;
	max-width: 100%;
	padding: 25px 0 25px 0;
}
.section4, .h2cat {
	border:2px solid black;
}
h2 {
	padding-bottom: 25px;
}
h3 {
	color: black;
	padding-top: 30px;
}
.text-left{
	margin-left: -17px;
	margin-top: 4px;
}
footer {
	max-width: 100%;
	max-height: 20px;
}
.list-inline {
	display: inline-block;
	margin: 0 auto;
}
/*Image & button positioning-----------------*/
.in-center {
	margin:0 auto;
	display: block;
}
/*HR lining-------------------------*/
.one {
	margin-top: 2px;
    margin-bottom: 2px;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 0 solid #06cba5;
}
.two {
	margin-top: 2px;
    margin-bottom: 2px;
    border: 0;
    border-top: #06cba5;
    border-bottom: #fec00d;
}
.three {
	margin-top: 2px;
    margin-bottom: 2px;
    border: 0;
    border-top: #06cba5;
    border-bottom: #eee;
}
.four {
	margin-top: 2px;
    margin-bottom: 2px;
    border: 0;
    border-top: 1px solid #fec00d;
    border-bottom: 0 solid #eee;
}
/*Buttons----------------------------------------------------*/
.btn-lg {
	padding: 3.75% 30%;
}
.btn1 {
	color: white;
	border-color: transparent;
	background-color: #06cba5;
}
.btn2 {
	color: white;
	border-color: transparent;
	background-color: #fec00d;
}
.btn-facebook {
	position:relative;
	margin: 6px;
	background-color: #3b5998;
}
.btn-twitter {
	position:relative;
	margin: 6px;
	background-color: #4099ff;
}
.btn-instagram {
	position:relative;
	margin: 6px;
	background-color: #517fa4;
}
.btn-social:first-child {
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width:32px;
	line-height:34px;
	font-size:1.6em;
	text-align:center;
	border-right: 1px solid rgba(0,0,0,0.2)
}

/*JS Animation-----------------------------------*/

.section4 {
  margin-bottom: 0;
}

.section4, .h2cat {
  position: relative;
  opacity: 0;
  left: -750px;
}
.col-xs-12, .col-md-12 {
  position: relative;
}

.section4, .img5 {
  position: absolute;
  right: -330px;
  margin-top: 10px;
  opacity: 0;
}

.firstAnimation {
  opacity: 1;
  height: 180px;
  width: 250px;
}

/*Media Query ---------------------------------------------------------------------*/
@media (min-width: 420px) {
	.text-left {
	    margin-left: 0px;
		margin-top: 4px;
	}
	.btn-lg {
		padding: 4% 31%;
	}

}
@media (min-width: 720px) {
	.btn-lg {
		padding: 4.1% 32%;
	}
	.text-left {
    	margin-left: 32px;
		margin-top: 1px;
	}

}

@media (min-width: 992px) {

	.btn-lg {
		padding: 3% 25%;
	}
	h3 {
		padding: 46px 0 0 93px;
	}
	
	p {
		font-size: 16px;
		line-height: 24px;
	}

	.btn1 {
		visibility: hidden;
	}

	.signup {
		width: 350px;
		height: 350px;
		margin-bottom: 95px;
	}

	.text-center {
		margin-bottom: -15px;
	}

	.img1 {
		width: 150px;
		height: 106px;
	}
	.img2 {
	    width: 105px;
	    height: 92px;
	}
	.img3 {
		width: 268px;
		height: 270px;
	}
	.img4 {
		width: 268px;
		height: 270px;
	}
	.text-left {
	    margin-left: 88px;
		margin-top: 1px;
	}

}



















